<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Slo-mo Mod</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>Sla.png</string>
      <key>label</key>
      <string>Slo-mo Mod</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.SlalomMod</string>
        <key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
        <key>key</key>
        <string>EnableSlalom</string>
        <key>label</key>
        <string>Enabled</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Maximum framerate</string>
      </dict>
      <dict>
		<key>cell</key>
		<string>PSEditTextCell</string>
		<key>detail</key>
		<string>PSDetailController</string>
		<key>default</key>
		<string>60</string>
		<key>defaults</key>
		<string>com.PS.SlalomMod</string>
		<key>set</key>
		<string>setFPSValue:specifier:</string>
		<key>id</key>
		<string>fps</string>
		<key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
		<key>key</key>
		<string>MogulFramerate</string>
		<key>placeholder</key>
		<string>Enter FPS</string>
		<key>isNumeric</key>
		<true/>
	   </dict>
	   <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>setFPS:</string>
      		<key>label</key>
      		<string>Set</string>
      </dict>
	    <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>autoFPS:</string>
      		<key>label</key>
      		<string>Auto set</string>
      </dict>
      <dict>
		<key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Fake framerate</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.SlalomMod</string>
        <key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
        <key>key</key>
        <string>FakeFPS</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
      <dict>
		<key>cell</key>
		<string>PSEditTextCell</string>
		<key>detail</key>
		<string>PSDetailController</string>
		<key>default</key>
		<string>240</string>
		<key>set</key>
		<string>setFakeFPSValue:specifier:</string>
		<key>defaults</key>
		<string>com.PS.SlalomMod</string>
		<key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
		<key>key</key>
		<string>aFPS</string>
		<key>placeholder</key>
		<string>Enter Fake FPS</string>
		<key>isNumeric</key>
		<true/>
	   </dict>
	   <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Force Slo-mo for all videos</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
        <key>defaults</key>
        <string>com.PS.SlalomMod</string>
        <key>key</key>
        <string>ForceSlalom</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Slo-mo Indicator Configuration</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
        <key>defaults</key>
        <string>com.PS.SlalomMod</string>
        <key>key</key>
        <string>hideIndicator</string>
        <key>label</key>
        <string>Auto hide</string>
        <key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.1</string>
					<string>1333.1</string>
				</array>
			</dict>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.SlalomMod</string>
        <key>PostNotification</key>
		<string>com.PS.SlalomMod/ReloadPrefs</string>
        <key>key</key>
        <string>indicatorTap</string>
        <key>label</key>
        <string>FPS gestures</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Slo-mo rate</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.SlalomMod/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>com.PS.SlalomMod</string>
			<key>key</key>
			<string>rate</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.1</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Slo-mo ramp volume</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.SlalomMod/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.15</real>
			<key>defaults</key>
			<string>com.PS.SlalomMod</string>
			<key>key</key>
			<string>volumeRamp</string>
			<key>max</key>
			<real>5.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
        	<string>Slo-mo Quality for Mail app</string>
        	<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.1</string>
					<string>1333.1</string>
				</array>
			</dict>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.PS.SlalomMod</string>
			<key>PostNotification</key>
        	<string>com.PS.SlalomMod/ReloadPrefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>mailMax</string>
			<key>label</key>
			<string>Select</string>
			<key>validTitles</key>
			<array>
				<string>Mail Default</string>
				<string>Highest Quality</string>
			</array>
			<key>staticTextMessage</key>
        	<string>Highest Quality gives better quality, but also larger video size.</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.1</string>
					<string>1333.1</string>
				</array>
			</dict>
		</dict>
		 <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>For legacy devices</string>
      		<key>footerText</key>
      		<string>(PoomSmart's Cydia repo) This tweak would enable the hidden 720p 60-fps capture format internally which is supported by Slo-mo Mod.</string>
      		<key>footerAlignment</key>
      		<integer>1</integer>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>60fps</string>
			<key>url</key>
			<string>cydia://package/com.ps.sixtyfps</string>
			<key>icon</key>
			<string>Sla.png</string>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>showGuide:</string>
      		<key>label</key>
      		<string>Guide</string>
      		<key>alignment</key>
      		<integer>2</integer>
      </dict>
       <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>id</key>
        	<string>as</string>
      		<key>alignment</key>
      		<integer>2</integer>
      		<key>action</key>
      		<string>reloadAS:</string>
      		<key>label</key>
      		<string>Reload assetsd</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      		<key>footerAlignment</key>
		<integer>1</integer>
		<key>footerText</key>
		<string>© 2013 - 2017 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>url</key>
			<string>https://poomsmart.github.io/repo/</string>
		</dict>
    </array>
  </dict>
</plist>
